[submodule "examples/crud-api"]
	path = examples/crud-api
	url = https://github.com/tongueroo/jets-example-crud-api.git
[submodule "examples/crud-html"]
	path = examples/crud-html
	url = https://github.com/tongueroo/jets-example-crud-html.git
[submodule "examples/config-rules"]
	path = examples/config-rules
	url = https://github.com/tongueroo/jets-example-config-rules.git
[submodule "examples/upload-images"]
	path = examples/upload-images
	url = https://github.com/tongueroo/jets-example-upload.git
[submodule "examples/postgresql"]
	path = examples/postgresql
	url = https://github.com/tongueroo/jets-example-postgresql
[submodule "examples/demo-rails"]
	path = examples/demo-rails
	url = https://github.com/tongueroo/demo-rails
[submodule "examples/demo-crud"]
	path = examples/demo-crud
	url = https://github.com/tongueroo/jets-demo-crud.git
[submodule "examples/mega-demo"]
	path = examples/mega-demo
	url = https://github.com/tongueroo/jets-mega-demo
[submodule "examples/backup-route53"]
	path = examples/backup-route53
	url = https://github.com/tongueroo/jets-backup-route53
[submodule "examples/dynamodb"]
	path = examples/dynamodb
	url = https://github.com/tongueroo/jets-dynamodb-example
[submodule "examples/slack-command"]
	path = examples/slack-command
	url = https://github.com/axel/jets-example-slack-command
[submodule "examples/demo-rails-api"]
	path = examples/demo-rails-api
	url = https://github.com/tongueroo/demo-rails-api
[submodule "examples/api"]
	path = examples/api
	url = https://github.com/tongueroo/jets-example-api
